body {
    background-color: blueviolet;
    font-family: Arial;
}
h1 {
    font-size: 40px;
    color: black;
    text-align: center;
}
p {
    color: white;
    font-size: 20px;
}
h2 {
    font-size: 30px;
    color: black;
}
h3 {
    font-size: 30px;
    color: black;
}
h4 {
    font-size: 30px;
    color: black;
}
h5 {
    font-size: 30px;
    color: black;
}
h6 {
    font-size: 30px;
    color: black;
}

